extends layout 

block append nav 

block layout-content 
    div#cart-container
        each product in productList
            div.cart-item(data-id=product.id data-price=product.price)
                img(src="" + product.image_url alt="" + product.name)
                ul 
                    li 
                        p Unit Price: #{product.price}
                        br
                        p Quantity 
                        input(type="number" value="1" min="0" class="quantity-input") 
                        br
                        br
                        a(href="/onlyfans/cart/delete/2/" + product.id) 
                            button.remove-btn Remove From Cart 
    section#cart-info 
        h2 Info 
        p SubTotal: $<span id="subtotal">0.00</span>
        p Tax: $<span id="tax">0.00</span>
        p Total: $<span id="total">0.00</span>
        br
        a(href="/onlyfans/cart/clear/2") 
            button 
                b Proceed to Checkout
    script(src="/script.js") 