extends layout 

block append nav 

block layout-content
    div#detail-main
        h1 #{product.name}
        div#detail-container 
            div.detail-item
                img(src="" + product.image_url alt= product.name + " image")
            div.detail-item
                ul 
                    li 
                        p Price: $#{product.price}
                    li 
                        h1 Description: 
                        p #{product.description}
        a(href="/onlyfans/cart/add/2/"+product.id) 
            button Add to Cart