extends layout 

block append nav 

block layout-content 
    ul#product-list 
        each product in productList
            li
                img(src="" + product.image_url alt=product.name + " image")
                ul 
                    li 
                        p.name #{product.name}
                    li Price: #{product.price}
                    li
                        button  
                            a(href="/onlyfans/details/" + product.id) View Product
                p #{product.description}